*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none; 
    -webkit-user-select: none;  
     -khtml-user-select: none;  
       -moz-user-select: none;  
        -ms-user-select: none;  
            user-select: none;
}
.App {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden; 
}  
::-webkit-scrollbar { 
  display: none;
} 
@media only screen and (max-width: 1200px) {
  #grid-view{ 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
  }
}
@media only screen and (max-width: 850px) {
  #grid-view{ 
    grid-template-columns: 1fr 1fr;
  }
  #main-view{ 
    min-width: 100vw;
    max-width: 100vw;
  }
}
@media only screen and (max-width: 300px) {
  #grid-view{ 
    grid-template-columns: 1fr;
  }
}